.el-header {
    /*background-color: #B3C0D1;*/
    /*color: #333;*/
    padding: 0px;
    text-align: center;
    line-height: 60px;
}

.el-footer {
    line-height: 20px;
    text-align: center;
    height: 20px;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 560px;
}

/*body > .el-container {*/
/*margin-bottom: 40px;*/
/*}*/

.mt-50 {
    margin-top: 50px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.el-dialog {
    max-width: 400px;
}