<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>
            {% block title %}
                base
            {% endblock %}
        </title>
        <!-- 引入Vue -->
        <script src="{{ url_for('static', filename='extra_js/vue.js') }}"></script>

        <!-- 引入Element样式 -->
        {#        <link rel="stylesheet" href="https://unpkg.com/element-ui@2.10.1/lib/theme-chalk/index.css">#}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ele_index.css') }}">
        <!-- 引入Element组件库 -->
        {#        <script src="https://unpkg.com/element-ui@2.10.1/lib/index.js"></script>#}
        <script src="{{ url_for('static', filename='extra_js/ele_index.js') }}"></script>

        <!-- 引入 v-charts -->
        <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">

        <!--引入 axios-->
        {#        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
        <script src="{{ url_for('static', filename='extra_js/axios.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
        <script src="{{ url_for('static', filename='js/base_utils.js') }}"></script>
    {% endblock %}
</head>
<body>

<div id="app-menu">
    <el-container>
        <el-header>
            <div class="line"></div>
            <el-menu
                    :default-active="activeIndex"
                    class="el-menu-demo"
                    mode="horizontal"
                    @select="handleSelect"
                    active-text-color="#ffd04b">
                <el-menu-item index="1">处理中心</el-menu-item>
                <el-submenu index="2">
                    <template slot="title">我的工作台</template>
                    <el-menu-item index="expend_days">days</el-menu-item>
                    <el-menu-item index="expend_months">months</el-menu-item>
                    <el-menu-item index="expend_journal">journal</el-menu-item>
                    <el-submenu index="2-4">
                        <template slot="title">选项4</template>
                        <el-menu-item index="2-4-1">选项1</el-menu-item>
                    </el-submenu>
                </el-submenu>
                <el-menu-item index="3" disabled>消息中心</el-menu-item>
                <el-menu-item index="admin_settings" class="el-icon-setting">设置</el-menu-item>

                <el-menu-item v-if="username" class="el-icon-scissors" style="float: right;" @click="logout">登出</el-menu-item>
                <el-menu-item v-if="username" style="float: right;">[[username]]</el-menu-item>
                <el-menu-item v-if="!username" class="el-icon-s-custom" style="float: right;" @click="dialogFormVisible=true">登录</el-menu-item>
            </el-menu>
        </el-header>

        <el-dialog title="登陆" :visible.sync="dialogFormVisible" width="400px">
            <el-form :model="loginForm" status-icon :rules="rules" ref="loginForm">
                <el-form-item label="用户名" label-width="80px" prop="username">
                    <el-input v-model="loginForm.username" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="密码" label-width="80px" prop="password">
                    <el-input v-model="loginForm.password" autocomplete="off" type="password" @keyup.enter.native="login"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="login" v-loading.fullscreen.lock="fullscreenLoading">确 定</el-button>
            </div>
        </el-dialog>

    </el-container>
</div>

<div class="mt-50">
    {% block content %}
    {% endblock %}

    {% block footer %}
        <el-footer class="el-footer">Account by @yekingyan 2019</el-footer>
    {% endblock %}
</div>

<script>
    let authStateUrl = '{{ url_for('auth.state')|safe }}';
    let loginUrl = '{{ url_for('auth.login')|safe }}';
    let logoutUrl = '{{ url_for('auth.logout')|safe }}';

    // 前端url的endpoint与反向路由建立联系
    const URL_ROUTE = new Map([
        ['expend_days', '{{  url_for('expend.days')|safe }}'],
        ['expend_months', '{{  url_for('expend.months')|safe }}'],
        ['expend_journal', '{{  url_for('expend.journal')|safe }}'],
        ['admin_settings', '{{  url_for('admin.settings')|safe }}'],
    ])


    let vmMenu = new Vue({
        el: '#app-menu',
        delimiters: ['[[', ']]'],
        data: function () {
            return {
                activeIndex: '1', // 当前激活菜单的 index
                username: null, // 用户名
                dialogFormVisible: false, // 登陆弹窗可见
                fullscreenLoading: false, // 登陆中的loading
                loginForm: {
                    username: '',
                    password: '',
                },
                rules: {
                    username: [{required: true, message: '请输入用户名', trigger: 'blur'},],
                    password: [{required: true, message: '请输入密码', trigger: 'blur'},],
                }
            };
        },
        methods: {
            handleSelect(key, keyPath) {
                // 菜单点击，跳转
                if (URL_ROUTE.has(key)) {
                    window.location.pathname = URL_ROUTE.get(key)
                }
            },

            login() {
                this.dialogFormVisible = false // 弹窗消失
                this.fullscreenLoading = true // loading
                log(this.loginForm)
                axios.post(loginUrl, this.loginForm)
                    .then((res) => {
                        let data = res.data
                        this.username = data.username
                        sessionStorage.username = data.username
                        window.location.reload()
                    })
                    .catch((err) => {
                        let res = err.response
                        this.$message.error(`code:${res.status} ${res.data.msg}`);
                    })
                    .finally(() => {
                        this.fullscreenLoading = false;
                    })
            },

            logout() {
                // 清session
                axios.get(logoutUrl).then(res => window.location.reload())
                // 删sessionStorage
                sessionStorage.username = ''
                this.username = ''
            },

            activeMenu() {
                // active当前页面的菜单
                for (let [k, v] of URL_ROUTE) {
                    if (window.location.pathname === v) {
                        this.activeIndex = k
                    }
                }
            },

            getUserState() {
                // 请求，判断用户状态，写入sessionStorage
                axios.get(authStateUrl).then(res => {
                    let data = res.data
                    sessionStorage.hasRequestAuth = true
                    log(data)
                    if (data.has_login) {
                        sessionStorage.username = data.username
                        this.username = sessionStorage.username
                    }
                })
            },
        },
        created() {
            // active当前页面的菜单
            this.activeMenu()

            // 获取用户状态
            if (!sessionStorage.hasRequestAuth) {
                this.getUserState()
            } else {
                this.username = sessionStorage.username
            }

        }
    })
</script>


{% block after_script %}
{% endblock %}

</body>
</html>
