{% extends "base.html" %}

{% block title %}
    journal
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ele_table.css') }}">
{% endblock %}

{% block content %}
    <div id="app-expend" :style="height">
        <el-date-picker
                v-model="dateRange"
                type="daterange"
                unlink-panels
                @change="changeDate"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width: auto"
                align="right">
        </el-date-picker>
        <el-table
                :data="table.tableData"
                style="width: 100%"
                :default-sort="{prop: 'date', order: 'descending'}">
            <el-table-column
                    v-for="(v, k) in table.tableColumns"
                    :key="k"
                    :prop="v"
                    :label="v"
                    sortable>
            </el-table-column>
        </el-table>
        <el-pagination
                layout="total, sizes, prev, pager, next, jumper"
                :total="table.count"
                :page-sizes="[10, 30, 100, 300, 10000]"
                :page-size="pageSize"
                @size-change="handleSizeChange"
                @current-change="current_change">
        </el-pagination>
    </div>
{% endblock %}

{% block after_script %}
    <script>
        let res = {{ data|safe }};
        const pageSize = 30

        let app1 = new Vue({
            el: '#app-expend',
            delimiters: ['[[', ']]'],
            data: function () {
                return {
                    height: {'min-height': window.innerHeight - 150 + 'px'},
                    table: { // table数据
                        tableColumns: res.columns,
                        tableData: res.rows.slice(0, pageSize),
                        count: res.count
                    },
                    pageSize: pageSize,
                    currentPage: 1,
                    dateRange: [],
                }
            },
            methods: {
                current_change(page) {
                    // 换页
                    this.currentPage = page
                    let start = (page - 1) * this.pageSize
                    let end = page * this.pageSize
                    this.table.tableData = res.rows.slice(start, end)
                },

                handleSizeChange(size) {
                    // 改变每页条数
                    this.pageSize = size
                    this.current_change(this.currentPage)
                },

                changeDate(dateRange) {
                    // 改变日期触发重定向
                    const start = dateRange[0]
                    const end = dateRange[1]
                    let start_str = start.toLocaleDateString()
                    let end_str = end.toLocaleDateString()
                    window.location.search = `?start_date=${start_str}&end_date=${end_str}`
                },

            },
        })
    </script>
{% endblock %}
