<!DOCTYPE html>
<html lang="en">
<head>
    <title>v-charts</title>
</head>
<body>
<div id="app">
    <ve-line :data="chartData({{ data }})" :settings="chartSettings"></ve-line>
</div>
<script src="{{ url_for('static', filename='extra_js/vue.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                chartData: (data) => {
                    return {
                        columns: ['pay_date', 'amount', 'need'],
                        rows: data
                    }
                },
                chartSettings: {
                    max: [200, 250]
                }
            }
        },
        methods: {}
    })
</script>
</body>
</html>